<!-- Estilos -->
<link rel="stylesheet" href="css/bootstrap.css">
<link rel="stylesheet" href="css/footer.css">
<link rel="stylesheet" href="css/icons.css">
<!-- Inicio footer -->
<footer class="page-footer pt-1 pageFooter">
  <hr class="liniaFooter">
  <!-- Inicio container principal -->
  <div class="container">
    <!-- Inicio fila principal -->
    <div class="row rowFooterPrincipal">
      <div class="col-1"></div>
      <!-- Columna que contiene el logo de tgn -->
      <div class="col-2 logoAj">
        <span class="icon-logoAJtgn_horitzontal_positiu">
      </div>
      <!-- Columna accesibilidad -->
      <div class="col-2 textFooter">
        <p>Accessibilitat</p>
      </div>
      <!-- Columna aviso legal -->
      <div class="col-2 textFooter">
        <p>Avís legal</p>
      </div>
      <!-- Columna qué opinas -->
      <div class="col-2 textFooter">
        <p>Què opines?</p>
      </div>
      <div class="col-1"></div>
      <!-- Columna que contiene el logo de patrimonio mundial -->
      <div class="col-2 logoPat">
        <span class="icon-logo_PatrimoniMundial">
      </div>
    </div>
    <!-- Fin fila principal -->
    <!-- Fila del párrafo final -->
    <div class="row rowFooterFinal">
      <div class="col">
        <p class="textFooter">Ajuntament de Tarragona - Plaça de la Font, 1 43003 Tarragona - Tel.
          977296100<br>ajuntament@tarragona.cat</p>
      </div>
    </div>
    <!-- Fin fila del párrafo final -->
  </div>
  <!-- Fin container principal -->
</footer>
<!-- Fin footer -->