#navegador li {
	margin-right: 25px;
}

#BarraNavegacion i {
	color: white;
}

#BarraNavegacion p:hover {
	color: black;
}

#BarraNavegacion i:hover {
	color: black;
}

#BarraNavegacion li:hover {
	background-color: white;
	color: black;
}

.headerNav1 li {
	display: inline;
	margin-right: 4px;
}

.headerNav1 {
	float: right;
}

.headerNav1 i {
	color: white;
}

#header-tittle1 {
	color: white;
}

#header-tittle1 h1, h2 {
	margin-left: 20%;
	margin-bottom: 0;
	padding-bottom: 10;
}

#header-tittle1 h2 {
	margin-top: 2%;
}

.header-right1 {
	float: right;
}

.headerNavLeft {
	float: left;
}

.headerNavLeft li {
	display: inline;
	color: white;
	padding: 3%;
	font-size: 20px;
}

.headerNavLeft a {
	color: white;
}

.headerNavLeft a:hover {
	color: black;
}

.headerRight {
	position: relative;
	bottom: 0;
	float: right;
}

.headerRight a {
	color: white;
}

.inputTransparente {
	background-color: transparent;
}

#logos-header {
	padding-right: 10%;
}

#portada {
	background-color: #FFFF;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2%;
}

.carousel-multi-item .carousel-indicators .active {
	background-color: #dc3545;
}

.carousel-multi-item .carousel-indicators li {
	background-color: #dc3545;
}