<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Inicio</title>
	<script src="https://kit.fontawesome.com/3cf921f7ed.js"></script>
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"> </script>
	<script type="text/javascript" src="js/bootstrap.min.js"> </script>
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/estilo.css">

	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">

	<!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css"
		integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">

	<!-- Material Design Bootstrap -->
	<link href="css/mdb.min.css" rel="stylesheet">

	<!-- Stylesheets -->
	<link rel="stylesheet" href="css/bootstrap.min.css" />
	<link rel="stylesheet" href="css/font-awesome.min.css" />
	<link rel="stylesheet" href="css/owl.carousel.css" />
	<link rel="stylesheet" href="css/style.css" />
</head>

<body>


	<!-- SCRIPTS -->

	<!-- JQuery -->
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

	<!-- Tooltips -->
	<!-- <script type="text/javascript" src="https://mdbootstrap.com/previews/docs/latest/js/popper.min.js"></script> -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>

	<!-- Bootstrap core JavaScript -->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js"
		integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
		crossorigin="anonymous"></script>
	<!-- MDB core JavaScript -->
	<!-- <script type="text/javascript" src="https://mdbootstrap.com/previews/docs/latest/js/mdb.min.js"></script> -->
	<script type="text/javascript" src="js/mdb.min.js"></script>
	<!--FIN SCRIPTS -->






	<!-- INICIO PORTADA -->

	<!-- INICIO CARRUSEL -->







	<!--Carousel de Cursos-->

	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>



	<!-- Page info -->
	<div class="page-info-section set-bg" data-setbg="img/page-bg/1.jpg">


	</div>
	<!-- Page info end -->


	<!-- Panel de busqueda -->
	<section class="search-section ss-other-page">
		<div class="container">
			<div class="search-warp">
				<div class="section-title text-white">
					<h2><span>Cerca el teu curs</span></h2>
				</div>
				<div class="row">
					<div class="col-lg-10 offset-lg-1">
						<!-- search form -->
						<form class="course-search-form">
							<input type="text" placeholder="Nom del curs">
							<input type="text" class="last-m" placeholder="Odenar por">
							<button class="site-btn btn-dark">Cerca</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- Panel de busqueda Fin -->


	<!-- course section -->
	<section class="course-section spad pb-0">
		<div class="course-warp">
			<ul class="course-filter controls">
				<li class="control active" data-filter="all">Todos</li>
				<li class="control" data-filter=".finance">Cursos</li>
				<li class="control" data-filter=".design">Activitats</li>
				<li class="control" data-filter=".web">Tallers</li>
				<li class="control" data-filter=".photo">Gratuits</li>
			</ul>

			<!-- Cursos -->
			<div class="row course-items-area">


				<!-- Curso 1 -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 finance">
					<div class="example hoverable">
						<div class="course-item">
							<div class="course-thumb set-bg" data-setbg="img/courses/1.jpg">
								<div class="price">Price: $15</div>
							</div>
							<div class="course-info">
								<div class="course-text">
									<h5>Art & Crafts</h5>
									<p>Lorem ipsum dolor sit amet, consectetur</p>
									<div class="students">120 Students</div>
								</div>
								<div class="course-author">
									<div class="ca-pic set-bg" data-setbg="img/authors/1.jpg"></div>
									<p>William Parker, <span>Developer</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Curso 2 -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 design">
					<div class="example hoverable">
						<div class="course-item">
							<div class="course-thumb set-bg" data-setbg="img/courses/2.jpg">
								<div class="price">Price: $15</div>
							</div>
							<div class="course-info">
								<div class="course-text">
									<h5>IT Development</h5>
									<p>Lorem ipsum dolor sit amet, consectetur</p>
									<div class="students">120 Students</div>
								</div>
								<div class="course-author">
									<div class="ca-pic set-bg" data-setbg="img/authors/2.jpg"></div>
									<p>William Parker, <span>Developer</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Curso3 -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 web">
					<div class="example hoverable">
						<div class="course-item">
							<div class="course-thumb set-bg" data-setbg="img/courses/3.jpg">
								<div class="price">Price: $15</div>
							</div>
							<div class="course-info">
								<div class="course-text">
									<h5>Graphic Design</h5>
									<p>Lorem ipsum dolor sit amet, consectetur</p>
									<div class="students">120 Students</div>
								</div>
								<div class="course-author">
									<div class="ca-pic set-bg" data-setbg="img/authors/3.jpg"></div>
									<p>William Parker, <span>Developer</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Curso 4 -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 photo">
					<div class="example hoverable">
						<div class="course-item">
							<div class="course-thumb set-bg" data-setbg="img/courses/4.jpg">
								<div class="price">Price: $15</div>
							</div>
							<div class="course-info">
								<div class="course-text">
									<h5>IT Development</h5>
									<p>Lorem ipsum dolor sit amet, consectetur</p>
									<div class="students">120 Students</div>
								</div>
								<div class="course-author">
									<div class="ca-pic set-bg" data-setbg="img/authors/4.jpg"></div>
									<p>William Parker, <span>Developer</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Curso 5 -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 finance">
					<div class="example hoverable">
						<div class="course-item">
							<div class="course-thumb set-bg" data-setbg="img/courses/5.jpg">
								<div class="price">Price: $15</div>
							</div>
							<div class="course-info">
								<div class="course-text">
									<h5>IT Development</h5>
									<p>Lorem ipsum dolor sit amet, consectetur</p>
									<div class="students">120 Students</div>
								</div>
								<div class="course-author">
									<div class="ca-pic set-bg" data-setbg="img/authors/5.jpg"></div>
									<p>William Parker, <span>Developer</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Curso 6 -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 design">
					<div class="example hoverable">
						<div class="course-item">
							<div class="course-thumb set-bg" data-setbg="img/courses/6.jpg">
								<div class="price">Price: $15</div>
							</div>
							<div class="course-info">
								<div class="course-text">
									<h5>Socia Media</h5>
									<p>Lorem ipsum dolor sit amet, consectetur</p>
									<div class="students">120 Students</div>
								</div>
								<div class="course-author">
									<div class="ca-pic set-bg" data-setbg="img/authors/6.jpg"></div>
									<p>William Parker, <span>Developer</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Curso 7 -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 web">
					<div class="example hoverable">
						<div class="course-item">
							<div class="course-thumb set-bg" data-setbg="img/courses/7.jpg">
								<div class="price">Price: $15</div>
							</div>
							<div class="course-info">
								<div class="course-text">
									<h5>IT Development</h5>
									<p>Lorem ipsum dolor sit amet, consectetur</p>
									<div class="students">120 Students</div>
								</div>
								<div class="course-author">
									<div class="ca-pic set-bg" data-setbg="img/authors/7.jpg"></div>
									<p>William Parker, <span>Developer</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- Curso 8 -->
				<div class="mix col-lg-3 col-md-4 col-sm-6 photo">
					<div class="example hoverable">
						<div class="course-item">
							<div class="course-thumb set-bg" data-setbg="img/courses/8.jpg">
								<div class="price">Price: $15</div>
							</div>
							<div class="course-info">
								<div class="course-text">
									<h5>HTML 5</h5>
									<p>Lorem ipsum dolor sit amet, consectetur</p>
									<div class="students">120 Students</div>
								</div>
								<div class="course-author">
									<div class="ca-pic set-bg" data-setbg="img/authors/8.jpg"></div>
									<p>William Parker, <span>Developer</span></p>
								</div>
							</div>
						</div>
					</div>
				</div>

				<!--Fin Cursos -->
			</div>


			<div class="trans text-center">
				<a class="btn btn-danger">Veure més</a>
			</div>
		</div>

		<!--====== Javascripts & Jquery ======-->
		<script src="js/jquery-3.2.1.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/mixitup.min.js"></script>
		<script src="js/circle-progress.min.js"></script>
		<script src="js/owl.carousel.min.js"></script>
		<script src="js/main.js"></script>

</body>