@font-face {
  font-family: 'simbols_web_AJtgn_bold';
  src:  url('fonts/simbols_web_AJtgn_bold.eot?tfbh5g');
  src:  url('fonts/simbols_web_AJtgn_bold.eot?tfbh5g#iefix') format('embedded-opentype'),
    url('fonts/simbols_web_AJtgn_bold.ttf?tfbh5g') format('truetype'),
    url('fonts/simbols_web_AJtgn_bold.woff?tfbh5g') format('woff'),
    url('fonts/simbols_web_AJtgn_bold.svg?tfbh5g#simbols_web_AJtgn_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'simbols_web_AJtgn_bold' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logoAJtgn_horitzontal_positiu:before {
  content: "\41";
}
.icon-logoAJtgn_horitzontal_negatiu:before {
  content: "\42";
}
.icon-logoAJtgn_vertical_positiu:before {
  content: "\43";
}
.icon-logoAJtgn_vertical_negatiu:before {
  content: "\44";
}
.icon-logo_PatrimoniMundial:before {
  content: "\45";
}
.icon-logo_Twitter:before {
  content: "\46";
}
.icon-logo_Youtube:before {
  content: "\47";
}
.icon-logo_Facebook:before {
  content: "\48";
}
.icon-logo_Instagram:before {
  content: "\49";
}
.icon-tgn_amb_ona:before {
  content: "\4a";
}
.icon-ona:before {
  content: "\4b";
}
.icon-simbol_Camara:before {
  content: "\4c";
}
.icon-simbol_Ull:before {
  content: "\4d";
}
.icon-simbol_Casa:before {
  content: "\4e";
}
.icon-simbol_Menu:before {
  content: "\4f";
}
.icon-simbol_Cor:before {
  content: "\50";
}
.icon-simbol_Llibre:before {
  content: "\51";
}
.icon-simbol_Quadrat:before {
  content: "\52";
}
.icon-simbol_Grafica:before {
  content: "\53";
}
.icon-simbol_Cercle:before {
  content: "\54";
}
.icon-simbol_Creu:before {
  content: "\55";
}
.icon-simbol_Lupa:before {
  content: "\56";
}
.icon-simbol_Mon:before {
  content: "\57";
}
.icon-simbol_Fletxa_dreta:before {
  content: "\58";
}
.icon-simbol_Fletxa_esquerra:before {
  content: "\59";
}
.icon-simbol_Punts:before {
  content: "\5a";
}
.icon-simbol_Punt:before {
  content: "\5b";
}

.logoAj {
  font-size: 300%;
}

.logoPat {
  font-size: 200%;
  margin-top: 10px;
}

.textFooter {
  margin-top: 20px;
  text-align: center;
  font-size: 10px;
  font-family: 'Montserrat', sans-serif;
}

.rowFooter {
  background-color: #A8113C;
  color: #FFFFFF;
}

hr {
  border-bottom: 1px solid #FFFFFF;
  margin-left: 20px;
  margin-right: 20px;
}