#navegador li {
	margin-right: 25px;
}

#BarraNavegacion i {
	color: white;
}

#BarraNavegacion p:hover {
	color: black;
}

#BarraNavegacion i:hover {
	color: black;
}

#BarraNavegacion li:hover {
	background-color: white;
	color: black;
}

.headerNav1 li {
	display: inline;
	margin-right: 4px;
}

.headerNav1 {
	float: right;
}

.headerNav1 i {
	color: white;
}

#header-tittle1 {
	color: white;
}

#header-tittle1 h1, h2 {
	margin-left: 20%;
	margin-bottom: 0;
	padding-bottom: 10;
}

#header-tittle1 h2 {
	margin-top: 2%;
}

.header-right1 {
	float: right;
}

.headerNavLeft {
	float: left;
}

.headerNavLeft li {
	display: inline;
	color: white;
	padding: 3%;
	font-size: 20px;
}

.headerNavLeft a {
	color: white;
}

.headerNavLeft a:hover {
	color: black;
}

.headerRight {
	position: relative;
	bottom: 0;
	float: right;
}

.headerRight a {
	color: white;
}

.inputTransparente {
	background-color: transparent;
}

#logos-header {
	padding-right: 10%;
}

.logoOna {
	font-size: 200%;
	margin-top: 10px;
}

.divHeader {
	background-color: #A8113C;
}

.textHeader {
	font-family: 'Montserrat', sans-serif;
}

.logoOna {
	font-size: 200%;
	margin-left: 10.7%;
}

.logoMon {
	font-size: 200%;
	color: #FFFFFF;
}

.logoXarxes {
	font-size: 150%;
	color: #FFFFFF;
}

.menuHeader {
	float: none;
}