<hmtl>

	<head>
		<meta charset="utf-8">
		<script type="text/javascript" src="js/bootstrap.min.js"> </script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">

		<link rel="stylesheet" type="text/css" href="css/header.css">
		<link rel="stylesheet" href="css/icons.css">
	</head>

	<body>
		<!-- Inicio Caja principal -->
		<div class="container-fluid divHeader textHeader">
			<!-- Inicio ROW 1 -->
			<div class="row">
				<!-- Inicio ROW 1 COL5 -->
				<div class="col-5" id="header-tittle1">
					<!-- logo tgn-inscripcions -->
					<div class="logoOna">
						<span class="icon-tgn_amb_ona logoOna">
					</div>
					<h1>Inscripcions</h1>
				</div>
				<!-- FIN ROW 1 COL5 -->

				<!-- Inicio ROW 1 COL7 -->
				<div class="col-7 ">

					<div id=logos-header>
						<!--Inicio id logos-header -->
						<ul class="headerNav1">
							<!--Logos parte superior derecha -->
							<li class="logoMon">
								<span class="icon-simbol_Mon">
							</li>
							<li class="logoXarxes">
								<span class="icon-logo_Youtube">
							</li>
							<li class="logoXarxes">
								<span class="icon-logo_Twitter">
							</li>
							<li class="logoXarxes">
								<span class="icon-logo_Facebook">
							</li>
							<li class="logoXarxes">
								<span class="icon-logo_Instagram">
							</li>
						</ul>
					</div>
					<!--Fin id logos-header -->
					<br><br><br>
					<!-- Inicio ROW 1[ROW 2]-->
					<div class="row">
						<!-- Inicio ROW 1[ROW 2 [col7]]-->
						<div class="col-7">
							<ul class="headerNavLeft menuHeader">
								<li><a href="#"> Inici</a></li>
								<li><a href="#"> Cursos</a></li>
								<li><a href="#"> Contacte</a></li>
								<li><a href="#"> Ajuda</a></li>

							</ul>

						</div>
						<!-- Fin ROW 1[ROW 2 [col7]]-->
						<!-- Inicio ROW 1[ROW 2 [col5]]-->
						<div class="col-5 headerRight">
							<form class="form-inline my-2 my-lg-0 ">
								<div class="e">
									<!-- Buscador Cerca el teu curs-->
									<input class="form-control input-transparent" type="text"
										placeholder="Cerca el teu curs" aria-label="Search">
								</div>

								<!-- icon user-->
								<a class="nav-link " href="#"> <i class="fas fa-user fa-2x"></i></a>

							</form>
							<!-- Fin ROW 1[ROW 2 [col5]]-->
						</div>

						<!-- Fin ROW 1[ROW 2]-->
					</div>

					<!-- Fin ROW 1 COL7 -->
				</div>
				<!-- Fin ROW 1 -->
			</div>
			<!-- Inicio Caja principal -->
		</div>


		</div>
		</div>


		</div>


	</body>
</hmtl>