.logoAj {
	font-size: 300%;
	bottom: 20px;
}

.logoPat {
	font-size: 200%;
	bottom: 10px;
}

.textFooter {
	text-align: center;
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
}

.pageFooter {
	background-color: #A8113C;
	color: #FFFFFF;
	position: relative;
	margin-top: 20px;
}

.liniaFooter {
	border-bottom: 1px solid #FFFFFF;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
}

.rowFooterPrincipal {
	height: 40px;
}